<% content_for :title do %>
<%= @group.name %> - Nuovo invito
<% end %>

<% content_for :head do %>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<%= stylesheet_link_tag "dashboard" %>

<% end %>

<%= render partial: "modals", locals: {groups_modal: true, board_modal: false, calendar_modal: false, members_modal: false} %>
<div class="row flex-shrink-0">
  <div class="col-12 d-md-none">
    <h3 class="text-center">
      <%= @group.name %>
    </h3>
  </div>
</div>
<div class="row flex-shrink-0 d-xl-none">

  <div class="col-12">
    <div class="btn-toolbar justify-content-center">
      <%= render partial: "modal_buttons", locals: {groups_modal: true, board_modal: false, calendar_modal: false, members_modal: false} %>
    </div>
  </div>
</div>
<div class="row flex-grow-1 mt-2">

  <div class="col-12">
    <div class="card card-chat shadow rounded-0 h-100">
      <div class="card-header rounded-0 text-center font-075">Nuovo invito</div>
      <div class="card-body p-2 d-flex justify-content-center">
        <div class="mb-2" style="width: 100%">

          <%= form_for(@invitation, url: group_invitations_path, html: {class: "form-new-invitation"}) do |f| %>
          <h1 class="h3 mb-3 font-weight-normal text-white">Nuovo invito</h1>
          <%= f.text_field :user, class: 'form-control rounded-0', placeholder: "Indirizzo email o nome dell'utente (lascia questo campo vuoto se vuoi creare un invito pubblico)", title: @invitation.errors[:user].join(', '), value: "" %>
          <%= f.text_field :expiration_date, id: "datetimes", class: "form-control mr-1 rounded-0 shadow-sm", placeholder: "Data di scadenza (lascia questo campo vuoto se non vuoi mettere una scadenza)", title: @invitation.errors[:expiration_date].join(', '), value: "" %>

          <%= f.submit "Crea invito", class: 'btn btn-lg btn-secondary btn-block rounded-0 shadow mt-2' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :scripts do %>

<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>


<script>
  $(function() {
    $('input[id="datetimes"]').daterangepicker({
      timePicker: true,
      timePicker24Hour: true,
      singleDatePicker: true,
      autoUpdateInput: false,
      locale: {
        cancelLabel: 'Clear',
      }
    });
    $('input[id="datetimes"]').on('apply.daterangepicker', function(ev, picker) {
      $(this).val(picker.startDate.format('YYYY-MM-DD HH:mm:ss'));
    });
    $('input[id="datetimes"]').on('cancel.daterangepicker', function(ev, picker) {
      $(this).val('');
    });
  });
</script>

<% end %>