                        <div class="row">
                          <div class="col">

                            <% if @group %>
                            <% if @group.members.count(:all) != 0 %>

                            <a class="d-flex align-items-center text-muted nounderline mb-2" href="#" data-toggle="modal" data-target="#infoGroupModal">
                              <span data-feather="info" class="mr-2"></span> Informazioni Gruppo
                            </a>

                            <% if @group.admins.include? current_user %>
                              <%= link_to '<span data-feather="user-plus" class="mr-2"></span> Nuovo Invito'.html_safe, new_group_invitation_path(@group.uuid), class: "d-flex align-items-center text-muted nounderline mb-2" %>
                            <% end %>

                            <% if @group.admins.include? current_user %>
                              <%= link_to '<span data-feather="mail" class="mr-2"></span> Lista Inviti'.html_safe, group_invitations_path(@group.uuid), class: "d-flex align-items-center text-muted nounderline mb-2" %>
                            <% end %>


                            <% if @group.super_admin.eql? current_user %>
                              <%= link_to '<span data-feather="edit" class="mr-2"></span> Modifica Gruppo'.html_safe, edit_group_path(@group.uuid), class: "d-flex align-items-center text-muted nounderline mb-2" %>
                            <% end %>

                            <% if !@group.super_admin.eql? current_user %>
                              <%= link_to '<span data-feather="log-out" class="mr-2"></span> Abbandona Gruppo'.html_safe, group_membership_path(@group.uuid, current_user.id), method: :delete, data: {confirm: "Confermi di voler abbandonare il gruppo '" + @group.name + "'?"}, class: "d-flex align-items-center text-muted nounderline mb-2" %>
                            <% end %>

                            <% if @group.super_admin.eql? current_user %>
                              <%= link_to '<span data-feather="trash" class="mr-2"></span> Elimina Gruppo'.html_safe, group_path(@group.uuid), method: :delete, data: {confirm: "Confermi di voler eliminare il gruppo '" + @group.name + "'?"}, class: "d-flex align-items-center text-muted nounderline mb-2" %>
                            <% end %>

                            <% end %>
                            <% end %>
                          </div>
                        </div>
