                        <li class="nav-item pb-2 mx-2" style="max-width: 100%; display: inline-block; border-bottom: 1px solid rgba(0,0,0,.1)">
                          <a class="nav-link truncate-string-100 pl-0 <%= (current_user.eql? member) ? 'active' : nil %>" title="<%= member.name %>">
                            <span data-feather="user"></span>
                            <%= member.name %>
                          </a>
                            <% if @group.super_admin.eql? member %>
                              <span data-feather="award" class="text-warning mr-1" title="Super Admin"></span>
                            <% end %>
                            <% if !@group.super_admin.eql? member and @group.admins.include? member %>
                              <% if @group.super_admin.eql? current_user %>
                                <%= link_to "<span data-feather='award' class='text-secondary mr-1' title='Rendi Super Admin'></span>".html_safe, group_set_super_admin_path(@group.uuid, member.id), method: :patch, data: {confirm: "Confermi di voler far diventare '" + member.name + "' il nuovo Super Admin?"} %>
                              <% else %>
                                <span data-feather="award" class="text-secondary mr-1" title="Admin"></span>
                              <% end %>
                            <% end %>

                            <% if @group.super_admin.eql? current_user and !(current_user.eql? member) and !(@group.admins.include? member)%>
                              <%= link_to "<span data-feather='award' class='text-primary mr-1' title='Rendi Admin'></span>".html_safe, group_set_admin_path(@group.uuid, member.id), method: :patch, data: {confirm: "Confermi di voler far diventare '" + member.name + "' Admin di questo gruppo?"} %>
                            <% end %>

                            <a title="Info">
                              <span data-feather="info" class="text-info mr-1" data-toggle="modal" data-target="#infoUserModal<%= member.id %>"></span>
                            </a>


                            <% if @group.admins.include? current_user and !(current_user.eql? member) and !(@group.admins.include? member)%>
                              <%= link_to "<span data-feather='user-minus' class='text-danger' title='Caccia Utente'></span>".html_safe, group_membership_path(@group.uuid, member.id), method: :delete, data: {confirm: "Confermi di voler cacciare '" + member.name + "' da questo gruppo?"} %>
                            <% end %>
                        </li>