


<div class="container-fluid h-100 d-flex flex-column pl-2 py-2 pr-0">
  <div class="row flex-grow-1">
    <div class="col-12">
      <% if @group %>
      <% if @group.members.count(:all) != 0 %>
      <div class="card card-chat shadow rounded-0 h-50">
        <% else %>
        <div class="card card-chat shadow rounded-0 h-100">
          <% end %>
          <% else %>
          <div class="card card-chat shadow rounded-0 h-100">
            <% end %>              
            <div class="card-header rounded-0 text-center font-075">
              Gruppi a cui sei iscritto
            </div>
            <div class="card-body p-2">
              <div class="mb-2">
                <ul class="nav flex-column sidebar" id="groups">
                  <% current_user.groups.each do |group| %>
                  <li class="nav-item" style="max-width: 100%">
                    <a title="<%= group.name %>" class="nav-link truncate-string-100 <%= (@group.eql? group) ? 'active' : nil %>" href="<%= group_path(group.uuid) %>">
                      <span data-feather="users" class="mr-1"></span>
                      <%= group.name %>
                    </a>
                  </li>
                  <% end %>
                </ul>
                <h6 class="sidebar-heading d-flex justify-content-between align-items-right p-2 mt-2 mb-1 text-muted add-group-sticky">
                  <div class="row">
                    <div class="col">

                      <a class="d-flex align-items-center text-muted nounderline mb-2" href="/groups/new">
                        <span data-feather="plus-circle" class="mr-2"></span> Crea Nuovo Gruppo
                      </a>
                    </div>
                  </div>
                </h6>
              </div>
            </div>

          </div>
          <% if @group %>
          <% if @group.members.count(:all) != 0 %>
          <div class="card card-chat shadow rounded-0 h-50 ">
            <div class="card-header rounded-0 text-center font-075">
              Membri di questo gruppo 
            </div>
            <div class="card-body p-2">
              <div class="mb-2">
                <ul class="nav flex-column sidebar" id="members">
                  <% @group.members.each do |member| %>
                  <%= render partial: "member", locals: {member: member, group: @group} %>
                  <% end %>
                </ul>
                <h6 class="sidebar-heading d-flex justify-content-between align-items-right p-2 mt-2 mb-1 text-muted add-group-sticky">
                  <%= render partial: "group_functions", locals: {group: @group} %>
                </h6>
              </div>
            </div>

          </div>
          <% end %>
          <% end %>
        </div>
      </div>
    </div>