        
                        <% if @group %>
                        <% if @group.members.count(:all) != 0 %>
                          <div class="modal fade" id="infoGroupModal" tabindex="-1" role="dialog">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                              <div class="modal-content rounded-0">
                                <div class="modal-header">
                                  <h5 class="modal-title truncate-string-100" id="exampleModalCenterTitle"><%= @group.name %></h5>
                                  <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  <b>Nr. Membri:</b> <%= @group.members.count %><br>

                                  <% if @group.course %>
                                    <b>Insegnamento:</b> <%= @group.course.name %><br>
                                  <% end %>

                                  <b>Descrizione:</b> 
                                  <%= @group.description.blank? ? "Nessuna descrizione disponibile." : @group.description %>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        <% end %>
                        <% end %>

        <div class="container-fluid h-100 d-flex flex-column pl-2 py-2 pr-0">
          <div class="row flex-grow-1">
            <div class="col-12">
              <% if @group %>
                <% if @group.members.count(:all) != 0 %>
                <div class="card card-chat shadow rounded-0 h-50">
                <% else %>
                <div class="card card-chat shadow rounded-0 h-100">
                <% end %>
              <% else %>
              <div class="card card-chat shadow rounded-0 h-100">
              <% end %>              
                <div class="card-header rounded-0 text-center font-075">
                  Gruppi a cui sei iscritto
                </div>
                <div class="card-body p-2">
                  <div class="mb-2">
                    <ul class="nav flex-column sidebar" id="groups">
                      <% current_user.groups.each do |group| %>
                      <li class="nav-item" style="max-width: 100%">
                        <a class="nav-link truncate-string-100 <%= (@group.eql? group) ? 'active' : nil %>" href="/groups/<%= group.uuid %>">
                          <span data-feather="users"></span>
                          <%= group.name %>
                        </a>
                      </li>
                      <% end %>
                    </ul>
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-right p-2 mt-2 mb-1 text-muted add-group-sticky">
                      <div class="row">
                        <div class="col">

                          <a class="d-flex align-items-center text-muted nounderline mb-2" href="/groups/new">
                            <span data-feather="plus-circle" class="mr-2"></span> Crea Nuovo Gruppo
                          </a>
                        </div>
                      </div>
                    </h6>
                  </div>
                </div>

              </div>
              <% if @group %>
                <% if @group.members.count(:all) != 0 %>
                <div class="card card-chat shadow rounded-0 h-50 ">
                  <div class="card-header rounded-0 text-center font-075">
                    Membri di questo gruppo 
                  </div>
                  <div class="card-body p-2">
                    <div class="mb-2">
                      <ul class="nav flex-column sidebar" id="members">
                        <% @group.members.each do |member| %>
                          <%= render partial: "member", locals: {member: member, group: @group} %>
                        <% end %>
                      </ul>
                      <h6 class="sidebar-heading d-flex justify-content-between align-items-right p-2 mt-2 mb-1 text-muted add-group-sticky">
                        <%= render partial: "group_functions", locals: {group: @group} %>
                      </h6>
                    </div>
                  </div>

                </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>