<% content_for :title do %>
  <%= @group.name %> - Nuovo Evento
<% end %>

<% content_for :head do %>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

  <%= stylesheet_link_tag "dashboard" %>

<% end %>

<div class="bg-light h-100">
  <%= render "nav" %>
  
  <div class="container-fluid main-container">
    <div class="row h-100">
      <div class="col-md-3 col-lg-2 col-xl-2 h-100 d-none d-md-block pl-2 py-2 pr-0">
        <%= render "user_groups" %>
      </div>
      <div class="col-md-9 col-lg-10 h-100 p-2">
        <div class="container-fluid h-100 d-flex flex-column px-2 pb-2 pt-0">
          <div class="row flex-shrink-0">
            <div class="col-12 d-md-none">
              <h3 class="text-center">
                <%= @group.name %> 
              </h3>
            </div>
          </div>
          <div class="row flex-shrink-0 d-xl-none">

            <div class="col-12">
              <div class="btn-toolbar justify-content-center">
                <%= render "user_groups_modal" %>
              </div>
            </div>
          </div>
          <div class="row flex-grow-1 mt-2">

            <div class="col-12">
              <div class="card card-chat shadow rounded-0 h-100">
                <div class="card-header shadow rounded-0 text-center">Creazione Nuovo Evento</div>
                <div class="card-body p-2 d-flex justify-content-center">
                  <div class="mb-2">

                    <%= form_for @event, url: group_events_path, html: {class: 'form-new-event', method: 'post', id: 'event_form'} do |f| %>
                      <div class="input-group date m-1 mb-1">
                        <%= f.text_field :start_time, class: 'form-control mr-1 rounded-0 shadow-sm', id: 'datetimes', placeholder: 'Inizio Evento', required: true %>
                        <%= f.text_field :end_time, class: 'form-control rounded-0 shadow-sm', id: 'datetimes', placeholder: 'Fine Evento', required: true %>
                      </div>

                      <%= f.text_field :place, class: 'form-control m-1 rounded-0 shadow-sm', placeholder: 'Luogo', required: true, autofocus: true %>
                      <%= f.text_area :description, class: 'form-control m-1 rounded-0 shadow-sm', placeholder: 'Descrizione', required: true %>
                      <%= f.submit "Crea Evento", class: 'btn btn-lg btn-secondary btn-block m-1 shadow-sm' %>
                    <% end %>


                    <form class="form-new-event">
                      <div class="input-group date m-1 mb-1">
                        <input type="text" class="form-control mr-1 rounded-0 shadow-sm" id="datetimes" placeholder="Inizio Evento" required>
                        <input type="text" class="form-control rounded-0 shadow-sm" id="datetimes" placeholder="Fine Evento" required>
                      </div>

                      <input type="text" id="inputPlace" class="form-control m-1 rounded-0 shadow-sm" placeholder="Luogo" required autofocus>
                      <textarea rows="4" id="inputDescription" class="form-control m-1 rounded-0 shadow-sm" placeholder="Descrizione" required></textarea>
                      <button class="btn btn-lg btn-secondary btn-block m-1 shadow-sm" type="submit">Crea Evento</button>
                    </form>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>

    <script>
      $(function() {
        $('input[id="datetimes"]').daterangepicker({
          timePicker: true,
          timePicker24Hour: true,
          singleDatePicker: true,
          autoUpdateInput: false,
          locale: {
            cancelLabel: 'Clear',
          }
        });
        $('input[id="datetimes"]').on('apply.daterangepicker', function(ev, picker) {
          $(this).val(picker.startDate.format('DD/MM hh:mm A'));
        });
        $('input[id="datetimes"]').on('cancel.daterangepicker', function(ev, picker) {
          $(this).val('');
        });
      });
    </script>

    <script type="text/javascript">
      $(document).ready(function (e){
       var groupItems = $('#groups li');
       groupItems.each(function(idx, li){
        var group = $(li);
        var name = group.find('a').clone().children().remove().end().text();
        if (name.trim() === "<%= @group.name %>"){
          group.find('a').addClass("active");
        }
      });
     });
   </script>

   <script type="text/javascript">
     $(document).ready(function (e){
      $('#event_form').submit(function (e){
        e.preventDefault();
        var start_time = $(this).find('div').first().children('input[name="event[start_time]"]').val();
        var end_time = $(this).find('div').first().children('input[name="event[end_time]"]').val();
      });
     });
   </script>
