<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Unife Study Groups</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 

  <%= stylesheet_link_tag "dashboard" %>

</head>

<body class="bg-light">
  <%= render "nav" %>
  
  <div class="container-fluid main-container">
    <div class="row h-100">
      <div class="col-md-3 col-lg-2 col-xl-2 h-100 d-none d-md-block pl-2 py-2 pr-0">
        <%= render "user_groups" %>
      </div>
      <div class="col-md-9 col-lg-10 h-100 p-2">
        <div class="container-fluid h-100 d-flex flex-column px-2 pb-2 pt-0">
          <div class="row flex-shrink-0 d-md-none">
            <div class="col-12">
              <h3 class="text-center">
                <%= @group.name %>
              </h3>
            </div>
          </div>
          <div class="row flex-shrink-0 d-xl-none">

            <div class="col-12">
              <div class="btn-toolbar justify-content-center">
                <button class="btn btn-sm btn-outline-secondary dropdown-toggle shadow-sm d-md-none" data-target="#groupsModal" data-toggle="modal">
                  <span data-feather="users"></span>
                  Gruppi
                </button>

                <div class="modal fade" tabindex="-1" role="dialog" id="groupsModal">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content rounded-0">
                      <div class="modal-header shadow">
                        <h5 class="modal-title">Gruppi</h5>
                        <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <ul class="nav flex-column nav-scroll">
                          <li>
                            <a class="nav-link text-primary" href="#">
                              <span data-feather="users"></span>
                              Spagnolo 1
                            </a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link text-secondary" href="#">
                              <span data-feather="users"></span>
                              Fisica 1
                            </a>
                          </li>
                          <li>
                            <a class="nav-link text-secondary" href="#">
                              <span data-feather="users"></span>
                              Spagnolo 1
                            </a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link text-secondary" href="#">
                              <span data-feather="users"></span>
                              Fisica 1
                            </a>
                          </li>
                          <li>
                            <a class="nav-link text-secondary" href="#">
                              <span data-feather="users"></span>
                              Spagnolo 1
                            </a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link text-secondary" href="#">
                              <span data-feather="users"></span>
                              Fisica 1
                            </a>
                          </li>
                          <li>
                            <a class="nav-link text-secondary" href="#">
                              <span data-feather="users"></span>
                              Spagnolo 1
                            </a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link text-secondary" href="#">
                              <span data-feather="users"></span>
                              Fisica 1
                            </a>
                          </li>
                          <li>
                            <a class="nav-link text-secondary" href="#">
                              <span data-feather="users"></span>
                              Spagnolo 1
                            </a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link text-secondary" href="#">
                              <span data-feather="users"></span>
                              Fisica 1
                            </a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link text-secondary" href="#">
                              <span data-feather="users"></span>
                              Fisica 1
                            </a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link text-secondary" href="#">
                              <span data-feather="users"></span>
                              Fisica 1
                            </a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link text-secondary" href="#">
                              <span data-feather="users"></span>
                              Fisica 1
                            </a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link text-secondary" href="#">
                              <span data-feather="users"></span>
                              Spagnolo 1
                            </a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link text-secondary" href="#">
                              <span data-feather="users"></span>
                              Fisica 1
                            </a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link text-secondary" href="#">
                              <span data-feather="users"></span>
                              Fisica 1
                            </a>
                          </li>
                        </ul>

                        <h6 class="sidebar-heading d-flex justify-content-between align-items-right px-3 mt-4 mb-1 text-muted">
                          <a class="d-flex align-items-center text-muted " href="#" style="font-size: 0.75rem; text-transform: uppercase;">
                            <span data-feather="plus-circle" class="mr-2"></span> Crea Nuovo Gruppo
                          </a>
                        </h6>
                      </div>
                    </div>
                  </div>
                </div>

                <button class="btn btn-sm btn-outline-secondary dropdown-toggle shadow-sm" data-target="#boardModal" data-toggle="modal">
                  <span data-feather="map-pin"></span>
                  Bacheca
                </button>

                <div class="modal fade" tabindex="-1" role="dialog" id="boardModal">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content rounded-0">
                      <div class="modal-header shadow">
                        <h5 class="modal-title">Bacheca</h5>
                        <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body modal-body-scroll">
                        <div class="msg_history">
                          <div class="incoming_msg_flagged">
                            <div class="incoming_msg_img_flagged"> Dean: </div>
                            <div class="received_msg_flagged">
                              <div class="received_withd_msg_flagged">
                                <p>Oggi a Greendale ci sarà una sfida a Paintball!</p>
                                <span class="time_date"> 11:01 AM    |    Today    <span data-feather="map-pin"></span></span>
                                <a class="d-flex align-items-center" href="#">
                                  <span data-feather="paperclip" class="mr-2"></span> Locandina Paintball 2018
                                </a>
                              </div>
                            </div>
                          </div>
                          <hr/>

                          <div class="incoming_msg_flagged">
                            <div class="incoming_msg_img_flagged"> Dean: </div>
                            <div class="received_msg_flagged">
                              <div class="received_withd_msg_flagged">
                                <p>Oggi a Greendale ci sarà una sfida a Paintball!</p>
                                <span class="time_date"> 11:01 AM    |    Today    <span data-feather="map-pin"></span></span>
                                <a class="d-flex align-items-center" href="#">
                                  <span data-feather="paperclip" class="mr-2"></span> Locandina Paintball 2018
                                </a>
                              </div>
                            </div>
                          </div>
                          <hr/>

                          <div class="incoming_msg_flagged">
                            <div class="incoming_msg_img_flagged"> Dean: </div>
                            <div class="received_msg_flagged">
                              <div class="received_withd_msg_flagged">
                                <p>Oggi a Greendale ci sarà una sfida a Paintball!</p>
                                <span class="time_date"> 11:01 AM    |    Today    <span data-feather="map-pin"></span></span>
                                <a class="d-flex align-items-center" href="#">
                                  <span data-feather="paperclip" class="mr-2"></span> Locandina Paintball 2018
                                </a>
                              </div>
                            </div>
                          </div>
                          <hr/>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <button class="btn btn-sm btn-outline-secondary dropdown-toggle shadow-sm" data-target="#calendarModal" data-toggle="modal">
                  <span data-feather="calendar"></span>
                  Calendario
                </button>

                <div class="modal fade" tabindex="-1" role="dialog" id="calendarModal">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content rounded-0">
                      <div class="modal-header shadow">
                        <h5 class="modal-title">Calendario Eventi</h5>
                        <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div class="container px-1">
                          <div class="calendar-modal-scroll">
                            <div class="row row-striped">
                              <div class="col-4 text-center">
                                <div class="ml-2">
                                  <h1 class="display-5"><span class="badge badge-secondary rounded-0">8</span></h1>
                                  <h4>AGO</h4>
                                </div>
                              </div>
                              <div class="col-8 pl-0">
                                <h4 class="text-uppercase"><strong>6 Stagioni!</strong></h4>
                                <ul class="list-inline">
                                  <li class="list-inline-item text-secondary font-075"><i class="fa fa-calendar-o" aria-hidden="true"></i> Mercoledì</li>
                                  <li class="list-inline-item text-secondary font-075"><i class="fa fa-clock-o" aria-hidden="true"></i> 12:30 PM - 2:00 PM</li>
                                  <li class="list-inline-item text-secondary font-075"><i class="fa fa-location-arrow" aria-hidden="true"></i>Biblioteca</li>
                                </ul>
                                <p>Recap delle 6 stagioni, prima del film!</p>
                              </div>
                            </div>
                            <div class="row row-striped">
                              <div class="col-4 text-center">
                                <div class="ml-2">
                                  <h1 class="display-5"><span class="badge badge-secondary rounded-0">9</span></h1>
                                  <h4 >AGO</h4>
                                </div>
                              </div>
                              <div class="col-8 pl-0">
                                <h4 class="text-uppercase"><strong>Nuovo film</strong></h4>
                                <ul class="list-inline">
                                  <li class="list-inline-item text-secondary font-075"><i class="fa fa-calendar-o" aria-hidden="true"></i> Giovedì</li>
                                  <li class="list-inline-item text-secondary font-075"><i class="fa fa-clock-o" aria-hidden="true"></i> 2:30 PM - 4:00 PM</li>
                                  <li class="list-inline-item text-secondary font-075"><i class="fa fa-location-arrow" aria-hidden="true"></i>Biblioteca</li>
                                </ul>
                                <p>Tutti pronti che si gira il film!</p>
                              </div>
                            </div>
                            <div class="row row-striped">
                              <div class="col-4 text-center">
                                <div class="ml-2">
                                  <h1 class="display-5"><span class="badge badge-secondary rounded-0">9</span></h1>
                                  <h4>AGO</h4>
                                </div>
                              </div>
                              <div class="col-8 pl-0">
                                <h4 class="text-uppercase"><strong>Nuovo film</strong></h4>
                                <ul class="list-inline">
                                  <li class="list-inline-item text-secondary font-075"><i class="fa fa-calendar-o" aria-hidden="true"></i> Giovedì</li>
                                  <li class="list-inline-item text-secondary font-075"><i class="fa fa-clock-o" aria-hidden="true"></i> 2:30 PM - 4:00 PM</li>
                                  <li class="list-inline-item text-secondary font-075"><i class="fa fa-location-arrow" aria-hidden="true"></i>Biblioteca</li>
                                </ul>
                                <p>Tutti pronti che si gira il film!</p>
                              </div>
                            </div>
                          </div>

                          <h6 class="sidebar-heading d-flex justify-content-between align-items-right px-3 mt-4 mb-1 text-muted">
                            <a class="d-flex align-items-center text-muted " href="#" style="font-size: 0.75rem; text-transform: uppercase;">
                              <span data-feather="plus-circle" class="mr-2"></span> Crea Nuovo Evento
                            </a>
                          </h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row flex-grow-1 mt-2">
            <div class="col-12 col-xl-3 d-none d-xl-block pr-0">
              <div class="card card-chat shadow rounded-0 h-100">
                <div class="card-header shadow rounded-0 text-center">Bacheca</div>
                <div class="card-body p-2">
                  <div class="mb-2">

                    <div class="msg_history">
                      <% @messages.pinned.each do |pinned| %>
                        <div class="incoming_msg_flagged ml-1">
                          <div class="incoming_msg_img_flagged"> <%= pinned.user.name %>: </div>
                          <div class="received_msg_flagged">
                            <div class="received_withd_msg_flagged">
                              <p><%= pinned.text %></p>
                              <span class="time_date"> 11:01 AM    |    Today    <span data-feather="map-pin"></span></span>
                              <a class="d-flex align-items-center" href="#">
                                <span data-feather="paperclip" class="mr-2"></span> Locandina Paintball 2018
                              </a>
                            </div>
                          </div>
                        </div>
                        <hr/>
                      <% end %>

                      <div class="incoming_msg_flagged ml-1">
                        <div class="incoming_msg_img_flagged"> Dean: </div>
                        <div class="received_msg_flagged">
                          <div class="received_withd_msg_flagged">
                            <p>Oggi a Greendale ci sarà una sfida a Paintball!</p>
                            <span class="time_date"> 11:01 AM    |    Today    <span data-feather="map-pin"></span></span>
                            <a class="d-flex align-items-center" href="#">
                              <span data-feather="paperclip" class="mr-2"></span> Locandina Paintball 2018
                            </a>
                          </div>
                        </div>
                      </div>
                      <hr/>

                      <div class="incoming_msg_flagged ml-1">
                        <div class="incoming_msg_img_flagged"> Dean: </div>
                        <div class="received_msg_flagged">
                          <div class="received_withd_msg_flagged">
                            <p>Oggi a Greendale ci sarà una sfida a Paintball!</p>
                            <span class="time_date"> 11:01 AM    |    Today    <span data-feather="map-pin"></span></span>
                            <a class="d-flex align-items-center" href="#">
                              <span data-feather="paperclip" class="mr-2"></span> Locandina Paintball 2018
                            </a>
                          </div>
                        </div>
                      </div>
                      <hr/>

                      <div class="incoming_msg_flagged ml-1">
                        <div class="incoming_msg_img_flagged"> Dean: </div>
                        <div class="received_msg_flagged">
                          <div class="received_withd_msg_flagged">
                            <p>Oggi a Greendale ci sarà una sfida a Paintball!</p>
                            <span class="time_date"> 11:01 AM    |    Today    <span data-feather="map-pin"></span></span>
                            <a class="d-flex align-items-center" href="#">
                              <span data-feather="paperclip" class="mr-2"></span> Locandina Paintball 2018
                            </a>
                          </div>
                        </div>
                      </div>
                      <hr/>

                    </div>

                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 col-xl-6">
              <div class="card card-chat shadow rounded-0 h-100">
                <div class="card-header shadow rounded-0 text-center">Chat</div>
                <div class="card-body p-2">
                  <div class="mb-2">

                    <div class="received_msg ml-1">
                      <div class="received_withd_msg">
                        Britta:
                        <p>Ma quindi cosa dobbiamo studiare?</p>
                        <span class="time_date"> 11:01 AM    |    June 9    <a href="#"><span data-feather="map-pin"></span></span></a></span>
                      </div>
                    </div>

                    <div class="outgoing_msg">
                      <div class="sent_msg">
                        <p>Mah, io direi di iniziare con i vocaboli</p>
                        <span class="time_date"> 11:01 AM    |    June 9    <a class="mx-1" href="#"><span data-feather="map-pin"></span></a><a class="mr-1" href="#"><span data-feather="edit"></span></a><a class="mr-1" href="#"><span data-feather="save"></span></a><a href="#"><span data-feather="trash"></span></a></span>
                      </div>
                    </div>

                    <div class="received_msg ml-1">
                      <div class="received_withd_msg">
                        Abed:
                        <p>(Citazione di un film)</p>
                        <span class="time_date"> 11:01 AM    |    Yesterday    <a href="#"><span data-feather="map-pin"></span></span></a></span>
                      </div>
                    </div>

                    <div class="outgoing_msg">
                      <div class="sent_msg">
                        <p>Abed, nessuno capisce le tue citazioni!</p>
                        <span class="time_date"> 11:01 AM    |    Today    <a class="mx-1" href="#"><span data-feather="map-pin"></span></a><a class="mr-1"  href="#"><span data-feather="edit"></span></a><a class="mr-1"  href="#"><span data-feather="save"></span></a><a href="#"><span data-feather="trash"></span></a></span> 
                      </div>
                    </div>

                    <div class="received_msg ml-1">
                      <div class="received_withd_msg">
                        Dean:
                        <p>Oggi a Greendale ci sarà una sfida a Paintball!</p>
                        <span class="time_date"> 11:01 AM    |    Today</span>
                        <a class="d-flex align-items-center mb-2" href="#">
                          <span data-feather="paperclip" class="mr-2"></span> Locandina Paintball 2018
                        </a>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="type_msg">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-8 px-1">
                        <div class="input_msg_write">
                          <input class="write_msg" placeholder="Scrivi un messaggio" type="text">
                        </div>
                      </div>
                      <div class="col-4 px-1 text-right my-auto">
                        <button class="msg_btn shadow-sm" type="button"><span data-feather="paperclip"></span></button>
                        <button class="msg_btn shadow-sm" type="button"><span data-feather="send"></span></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 col-xl-3 d-none d-xl-block pl-0">
              <div class="card card-chat shadow rounded-0 h-100">
                <div class="card-header shadow rounded-0 text-center">Calendario Eventi</div>
                <div class="card-body py-2 px-0" style="overflow-x: hidden;">
                  <div class="mb-2">

                    <div class="container px-2">
                      <div class="row row-striped">
                        <div class="col-4 text-center">
                          <div class="">
                            <h1 class="display-5"><span class="badge badge-secondary rounded-0">8</span></h1>
                            <h4>AGO</h4>
                          </div>
                        </div>
                        <div class="col-8 pl-0">
                          <h4 class="text-uppercase"><strong>6 Stagioni!</strong></h4>
                          <ul class="list-inline">
                            <li class="list-inline-item text-secondary font-075"><i class="fa fa-calendar-o" aria-hidden="true"></i> Mercoledì</li>
                            <li class="list-inline-item text-secondary font-075"><i class="fa fa-clock-o" aria-hidden="true"></i> 12:30 PM - 2:00 PM</li>
                            <li class="list-inline-item text-secondary font-075"><i class="fa fa-location-arrow" aria-hidden="true"></i>Biblioteca</li>
                          </ul>
                          <p>Recap delle 6 stagioni, prima del film!</p>
                        </div>
                      </div>
                      <div class="row row-striped">
                        <div class="col-4 text-center">
                          <div class="">
                            <h1 class="display-5"><span class="badge badge-secondary rounded-0">9</span></h1>
                            <h4 >AGO</h4>
                          </div>
                        </div>
                        <div class="col-8 pl-0">
                          <h4 class="text-uppercase"><strong>Nuovo film</strong></h4>
                          <ul class="list-inline">
                            <li class="list-inline-item text-secondary font-075"><i class="fa fa-calendar-o" aria-hidden="true"></i> Giovedì</li>
                            <li class="list-inline-item text-secondary font-075"><i class="fa fa-clock-o" aria-hidden="true"></i> 2:30 PM - 4:00 PM</li>
                            <li class="list-inline-item text-secondary font-075"><i class="fa fa-location-arrow" aria-hidden="true"></i>Biblioteca</li>
                          </ul>
                          <p>Tutti pronti che si gira il film!</p>
                        </div>
                      </div>
                      <div class="row row-striped">
                        <div class="col-4 text-center">
                          <div class="">
                            <h1 class="display-5"><span class="badge badge-secondary rounded-0">9</span></h1>
                            <h4>AGO</h4>
                          </div>
                        </div>
                        <div class="col-8 pl-0">
                          <h4 class="text-uppercase"><strong>Nuovo film</strong></h4>
                          <ul class="list-inline">
                            <li class="list-inline-item text-secondary font-075"><i class="fa fa-calendar-o" aria-hidden="true"></i> Giovedì</li>
                            <li class="list-inline-item text-secondary font-075"><i class="fa fa-clock-o" aria-hidden="true"></i> 2:30 PM - 4:00 PM</li>
                            <li class="list-inline-item text-secondary font-075"><i class="fa fa-location-arrow" aria-hidden="true"></i>Biblioteca</li>
                          </ul>
                          <p>Tutti pronti che si gira il film!</p>
                        </div>
                      </div>
                    </div>

                    <h6 class="sidebar-heading d-flex justify-content-between align-items-right p-2 mt-2 mb-1 text-muted add-group-sticky mx-0">
                      <a class="d-flex align-items-center text-muted " href="#">
                        <span data-feather="plus-circle" class="mr-2"></span> Crea Nuovo Evento 
                      </a>
                    </h6>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>

    <script type="text/javascript">
      $(document).ready(function (e){
       var groupItems = $('#groups li');
       groupItems.each(function(idx, li){
        var group = $(li);
        var name = group.find('a').clone().children().remove().end().text();
        if (name.trim() === "<%= @group.name %>"){
          group.find('a').addClass("active");
        }
      });
     });
   </script>
 </body>
 </html>
