<% content_for :title do %>
  Unife Study Groups - Login
<% end %>

<% content_for :head do %>
  <%= stylesheet_link_tag "landing_page" %>
  <%= stylesheet_link_tag "login_page" %>
<% end %>


<div class="text-center" style="width: 100%">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <h3 class="masthead-brand"><%= link_to "Unife Study Groups", landing_path, class: "nounderline" %></h3>
        <nav class="nav nav-masthead justify-content-center">
          <%= link_to "Benvenuto", landing_path, class: "nav-link" %>
          <%= link_to "Login", login_path, class: "nav-link active" %>
          <%= link_to "Registrati", signup_path, class: "nav-link" %>
        </nav>
      </div>
    </header>

    <main role="main" class="inner cover">
      <div class="container h-100">
        <div class="row align-items-center align-self-center h-100 text-center flex-column">

          <%= render partial: "flash_messages" %>
          
          <%= form_for(:session, url: login_path, html: {class: 'form-signin'}) do |f| %>
          <h1 class="h3 mb-3 font-weight-normal text-white">Login</h1>
          <%= f.email_field :email, class: 'form-control rounded-0', placeholder: "Indirizzo email", required: true %>
          <%= f.password_field :password, class: 'form-control rounded-0', placeholder: "Password", required: true %>
          <label class="text-white mt-1">
            <%= f.check_box :remember_me %> Ricordami
          </label>
          <%= f.submit "Entra", class: 'btn btn-lg btn-secondary btn-block rounded-0 shadow' %>
          <% end %>
        </div>
      </div>
    </main>

    <footer class="mastfoot mt-auto">
    </footer>
  </div>


</div>  

