<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Benvenuti su Unife Study Groups</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <%= stylesheet_link_tag "login_page" %>
</head>

<body class="text-center">

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h4>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= form_for(:session, url: login_path, html: {class: 'form-signin'}) do |f| %>
  <h1 class="h3 mb-3 font-weight-normal text-white">Login</h1>
  <%= f.email_field :email, class: 'form-control rounded-0', placeholder: "Indirizzo email" %>
  <%= f.password_field :password, class: 'form-control rounded-0', placeholder: "Password" %>
  <label class="text-white">
    <%= f.check_box :remember_me %> Ricordami
  </label>
  <%= f.submit "Entra", class: 'btn btn-lg btn-secondary btn-block rounded-0 shadow' %>
  <% end %>
</body>
</html>
