<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Unife Study Groups</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 

  <%= stylesheet_link_tag "dashboard" %>

  <%= csrf_meta_tag %>
</head>

<body class="bg-light">
  <%= render "nav" %>

  <div class="container-fluid main-container">
    <div class="row h-100">

      <div class="col-md-3 col-lg-2 col-xl-2 h-100 d-none d-md-block pl-2 py-2 pr-0">
        <%= render "user_groups" %>
      </div>

      <div class="col-md-9 col-lg-10 h-100 p-2">
        <div class="container-fluid h-100 d-flex flex-column px-2 pb-2 pt-0">
          <div class="row flex-shrink-0 d-md-none">
            <div class="col-12">
              <div class="btn-toolbar justify-content-center d-xl-none">
                <%= render "user_groups_modal" %>
              </div>
            </div>
          </div>
          <div class="row flex-grow-1 mt-2">

            <div class="col-12">
              <div class="card card-chat shadow rounded-0 h-100">
                <div class="card-header shadow rounded-0 text-center">Lista Gruppi Pubblici</div>
                <div class="card-body p-2">
                  <div class="mb-2">
                    <% id_num = 0 %>
                    <% @groups.is_public.each do |group| %>
                    <% id_num = id_num + 1 %>

                    <% if id_num != 1 %>
                    <div class="card shadow-sm mt-2">
                      <% else %>
                      <div class="card shadow-sm">
                        <% end %>
                        <div class="card-body group-name-body d-flex justify-content-between">
                          <a class="align-self-center text-secondary" href="/groups/<%= group.uuid %>"><span data-feather="users"></span>  <%= group.name %></a>
                          <div class="text-secondary align-self-center ml-2"><span data-feather="chevron-right"></span></div>
                          <a class="align-self-center ml-2" href="#" data-toggle="modal" data-target="#infoModal<%= id_num %>"><span data-feather="info"></span>  Info</a>
                          <% if group.members.exists?(current_user.id) %>
                          <a class="flex-grow-1 text-right text-success" href="#"><span data-feather="check-circle"></span> Iscritto</a>
                          <% else %>
                          <a class="flex-grow-1 text-right" href="#" style="width: 100px"><span data-feather="circle"></span> Iscriviti</a>
                          <% end %>
                        </div>
                      </div>

                      <div class="modal fade" id="infoModal<%= id_num %>" tabindex="-1" role="dialog" aria-labelledby="infoModal<%= id_num %>" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                          <div class="modal-content rounded-0">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalCenterTitle"><%= group.name %></h5>
                              <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <b>Nr. Membri:</b> <%= group.members.count %><br>
                              <b>Descrizione:</b> 
                              <% if group.description == '' %>
                              Nessuna descrizione disponibile.
                              <% else %>
                              <%= group.description %>
                              <% end %>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <% end %>

                    </div>
                  </div>

                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>

  </body>
  </html>
